#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

// ---------------------------------------------------------------------------------------------------------
// |   ESC   |   1   |   2   |   3   |   4   |   5   |     |   6   |   7    |   8   |   9   |    0    |    0    |
// |   TAB   |   Q   |   W   |   E   |   R   |   T   |     |   Y   |   U    |   I   |   O   |    P    |    -    |
// |   CTRL  |   A   |   S   |   D   |   F   |   G   |     |   H   |   J    |   K   |   L   |    ;    |    '    |
// |   SHIFT |   Z   |   X   |   C   |   V   |                     |   B    |   N   |   M   |    ,    |    .    |
// |         |       |       |  ALT  |   4   |   5   |     |  DEL  |   7    |   8   |       |         |         |
// |         |       |       |  ALT  | ENTER | SPACE |     | HOME  |  END   |  BSPC |       |         |         |


            bindings = <
  &kp ESC    &kp N1  &kp N2  &kp N3   &kp N4  &kp N5       &kp N6   &kp N7  &kp N8    &kp N9   &kp N0   &kp N0
  &kp TAB    &kp Q   &kp W   &kp E    &kp R   &kp T        &kp Y    &kp U   &kp I     &kp O    &kp P    &kp MINUS
  &kp LCTRL  &kp A   &kp S   &kp D    &kp F   &kp G        &kp H    &kp J   &kp K     &kp L    &kp SEMI &kp SQT
  &kp LSHIFT &kp Z   &kp X   &kp C    &kp V                         &kp B   &kp N     &kp M    &kp COMMA &kp DOT
                             &kp LGUI &kp V   &kp B        &kp DEL  &kp N7  &kp N8
                             &kp LALT &kp RET &kp SPACE    &kp HOME &kp END &kp BSPC                             
            >;
        };
    };
};